* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container {
    height: auto;
}
.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-responsive {
    display: none;
}

#menu {
    display: none;
}
.izquierda {
    position: fixed;
    width: 20%;
    height: 100vh;
    background: linear-gradient(to right, #020a2d,
    #055380);
}

.derecha {
    margin: auto;
    width: 80%;
    margin-left: 20%;
    height: 100vh;
    background-color: whitesmoke;
}


/* izquierda */

.navegacion {
    width: 100%;
    height: 100vh;
    margin: auto;    
}

.fotos {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-bottom: 3px solid white;
}

.usuario {
    width: 100%;
}
.fotos p {
    color: white;
    font-family: "Rubik";
    font-size: 25px;
}
.usuario img {
    width: 90px;
    height: 90px;
    border-radius: 70px;
    font-size: 50px;
    color: white;
    margin: 15px 0 5px 0;
}

.usuario h4 {
    font-size: 20px;
    width: 100%;
    color: white;
    font-family: "Hind";
    text-transform: uppercase;
}



/* IZQUIERDA - OPCIONES*/

.opciones {
    display: flex;
    height: auto;
    padding: 20px 0;

}

.lista {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.lista li {
    list-style: none;
    
}

.lista li a{
    color: white;
    text-decoration: none;
    font-family: "Rubik";
    font-size: 16px;
    margin-left: 5px;
}

.opcion {
    display: flex;
    width: 100%;
    height: 60px;
}

.opcion i {
    color: white;
    margin-right: 5px;
}

.conjunto {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: left;
    width: 80%;
}


/* IZQUIERDA - CERRAR SESION*/

.cerrar-sesion{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: left;
    height: auto;
}

.cerrar-sesion p {
    font-family: "Rubik";
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

/* DERECHA - TITULO */
.header_derecha {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: center;
    
}

.header_derecha .titulo {
    color: #17202A;
    font-family: "Rubik";
    font-size: 22px;
    margin-right: 25%;
    text-transform: uppercase;
    width: 200px;
}

.header_derecha input {
    height: 50px;
    border: none;
    padding: 0 10px;
    font-family: "Poppins";
    border: 2px solid #17202A;
    color: #17202A;
    margin-left: 25%;
}

.header_derecha span {
    color: #ff4500;
}

/* CAROUSEL */

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 40px 0 20px 0;
}

.carousel img {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 70%;
    border-radius: 30px;
    margin: 0;
}

.carousel i {
    font-size: 50px;
    margin: 0 30px;
    color: #17202A;
}

.carousel-mobile {
    display: none;
}
/* SALDOS */
.tus_saldos {
    margin: auto;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 40px 0;
}
.tus_saldos .title {
    font-size: 22px;
    font-family: "Poppins";
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 400;
}

.saldos {
    width: 100%;
    height: 180px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: left;
    margin-top: 25px;
}

.saldo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    height: 200px;
    background: #041434;    
    margin: 10px;
    color: white;
    border-radius: 20px;
}

.saldo p {
    margin: auto;
    width: 80%;
    font-family: "Rubik";
    font-size: 21px;

}

.saldo h3 {
    margin-top: 20px;
    font-size: 30px;
    font-family: "Hind";
}

/* TARJETAS */

.tus_tarjetas {
    margin: auto;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 40px 0;
}

.tus_tarjetas p {
    font-size: 22px;
    font-family: "Poppins";
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 400;
}
.tarjetas {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
    flex-wrap: wrap;
}

.tarjeta:hover {
    transform: scale(1.05);
}
.tarjeta {
    margin: 10px;
}
.tarjeta img {
    width: 300px;
    border-radius: 10px;
}


.nueva_tarjeta {
    width: 250px;
    height: auto;
    text-align: center;
    margin-top: 10px;
}

.nueva_tarjeta i {
    font-size: 55px;
    color: #041434;
}

.nueva_tarjeta p {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: #17202A;
}





@media screen and (max-width: 1205px){
    .parte_arriba {
        width: 55%;
    }

    .parte_abajo {
        width: 35%;
    }


    .cuadrado5 .titulo-transaccion {
        color: white;
        font-family: "Rubik";
        font-size: 21px;
        text-decoration: underline;
    }

    .transacciones {
        width: 100%;
        margin-top: 0px;
        height: 400px;
        overflow-y: auto;

    }
}
@media screen and (min-width:601px) and (max-width:820px){
    
    .header_derecha {
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
        margin: auto;
        justify-content: center;
        
    }
    
    .header_derecha .titulo {
        color: #17202A;
        font-family: "Rubik";
        font-size: 22px;
        text-transform: uppercase;
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .header_derecha input {
        height: 50px;
        border: none;
        padding: 0 10px;
        font-family: "Poppins";
        border: 2px solid #17202A;
        color: #17202A;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    
    .main {
        display: block;
        height: auto;
    }
    #menu {
        display: block;
        font-size: 30px;        
        color: white;
        padding: 20px;
    }

    .menu-responsive {
        display: flex;
        text-align: center;
        margin: auto;
        align-items: center;
        background-color: #17202A;
        width: 100%;
        height: 70px;

    }

    #menu.block {
        position: fixed;
        z-index: 1;
    }
    .izquierda {
        display: none;
        position: fixed;
        width: 40%;
        height: auto;
        top: 0px;
    }

    .izquierda.block {
        display: block;
    }

    .navegacion {
        width: 100%;
        height: 100vh;
        margin: auto;    
    }
    
    .fotos {
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 15px 0;
        border-bottom: 3px solid white;
    }
    
    .fotos h3 {
       display: none;
    }
    
    .usuario {
        width: 100%;
    }
    .usuario img {
        margin: 10px 0 5px 0;
        width: 90px;
        height: 90px;
        border-radius: 70px;
        font-size: 50px;
        color: white;
    }
    
    .usuario h4 {
        font-size: 20px;
        width: 100%;
        color: white;
        font-family: "Hind";
        text-transform: uppercase;
    }

    /* DERECHA */

    
    .derecha {
        width: 100%;
        height: 135vh;
        margin: 0;
    }

    .carousel img {
        width: 95%;
    }
    

    .carousel i {
        display: none;
    }

    .tus_tarjetas {
        margin: auto;
        align-items: center;
        text-align: left;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 40px 0;
    }

    .tus_tarjetas .title {
        margin-left: 5%;
    }

    .tarjetas {
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .tarjeta {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 45%;
    }
    .tarjeta img {
        width: 100%;
    }
}






/*Telefonos*/
@media screen and (max-width: 600px){

    .derecha {
        margin-left: 0;
    }
    .carousel {
        display: none;
    }
    .carousel-mobile {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }

    .carousel-mobile img {
        width: 90%;
        border-radius: 20px;
    }

    

   


    
}

@media screen and (max-width:600px){

   
    .main {
        display: block;
        height: auto;
    }
    #menu {
        display: block;
        font-size: 30px;        
        color: white;
        padding: 15px;
    }

    .menu-responsive {
        display: flex;
        text-align: center;
        margin: auto;
        align-items: center;
        background-color: #17202A;
        width: 100%;
        height: auto;

    }

    #menu.block {
        color: white;
        position: fixed;
        z-index: 1;
        background: none;
        top: 0px;
    }
    .izquierda {
        display: none;
        position: fixed;
        width: 100%;
        height: auto;
        top: 0px;
    }

    .izquierda.block {
        display: block;
    }

    .fotos {
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 20px 0;
        border-bottom: 3px solid white;
    }

    .fotos h3 {
        display: none;
    }

    .usuario img {
        margin: 0;
    }

    .opcion {
        display: flex;
        width: 100%;
        height: 55px;
    }

    .derecha {
        width: 100%;
    }


    /* HEADER DERECHA */

    .header_derecha {
        display: block;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 30px 0;
    }
    
    .derecha .titulo {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #17202A;
        font-family: "Hind";
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .header_derecha input {
        height: 50px;
        margin-left: 0;
        border: none;
        width: 50%;
        padding: 0 10px;
        font-family: "Poppins";
        border: 2px solid #17202A;
        color: #17202A;
    }

   

    

    
}

@media screen and (max-width:400px){
    

}


h6 {
    text-align: center;
    font-size: 180%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;

}
h1 {
    text-align: center;
    font-size: 140%;
    margin-top: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
}

h2 {
    text-align: center;
    font-size: 20%;
    margin-top: 2%;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
}

h3 {
    text-align: center;
    font-size: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
}

input {
    margin-bottom: 30px;
    margin-top: 30px;

}



