* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container {
    height: auto;
}

.fondo-dom {
    background-color: #17202A;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargar {
    width: 70px;
    height: 70px;
    border: 5px solid #eee;
    border-top: 5px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes girar {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-responsive {
    display: none;
}

#menu {
    display: none;
}
.izquierda {
    position: fixed;
    width: 20%;
    height: 100vh;
    background: linear-gradient(to right, #020a2d,
    #055380);
}

.derecha {
    margin: auto;
    width: 80%;
    margin-left: 20%;
    height: 100vh;
}


/* izquierda */

.navegacion {
    width: 100%;
    height: 100vh;
    margin: auto;    
}

.fotos {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-bottom: 3px solid white;
}

.usuario {
    width: 100%;
}
.fotos p {
    color: white;
    font-family: "Rubik";
    font-size: 25px;
}
.usuario img {
    width: 90px;
    height: 90px;
    border-radius: 70px;
    font-size: 50px;
    color: white;
    margin: 15px 0 5px 0;
}

.usuario h4 {
    font-size: 20px;
    width: 100%;
    color: white;
    font-family: "Hind";
    text-transform: uppercase;
}



/* IZQUIERDA - OPCIONES*/

.opciones {
    display: flex;
    height: auto;
    padding: 20px 0;

}

.lista {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.lista li {
    list-style: none;
    
}

.lista li a{
    color: white;
    text-decoration: none;
    font-family: "Rubik";
    font-size: 16px;
    margin-left: 5px;
}

.opcion {
    display: flex;
    width: 100%;
    height: 60px;
}

.opcion i {
    color: white;
    margin-right: 5px;
}

.opcion:hover {
    background-color: blue;
    transition: 1s;
}

.conjunto {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: left;
    width: 80%;
}


/* IZQUIERDA - CERRAR SESION*/

.cerrar-sesion{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: left;
    height: auto;
}

.cerrar-sesion p {
    font-family: "Rubik";
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

/* DERECHA - TITULO */
.header_derecha {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: center;

}

.header_derecha .titulo {
    color: #17202A;
    font-family: "Rubik";
    font-size: 22px;
    text-transform: uppercase;
    width: 200px;
}

.titulo-seccion {
    width: 50%;
    display: flex;
    justify-content: center;
}

.header_derecha input {
    height: 50px;
    border: none;
    padding: 0 10px;
    font-family: "Poppins";
    border: 2px solid #17202A;
    color: #17202A;
    width: 200px;
    display: flex;
    margin: auto;
}

.boton-buscador {
    width: 50%;
}

.header_derecha span {
    color: #ff4500;
}

.opciones-buscador {
    position: fixed;
    right: 0;
    width: 40%;
}

.lista-opciones {
    width: 200px;
    margin: auto;
    text-align: center;
}
.lista-opciones li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: grey;
}

.lista-opciones li a {
    color: white;
    text-decoration: none;
    font-family: "Hind";
}
 
.opcion-buscador {
    display: none;
}

.opcion-buscador.oculto{
    display: block;
}

/* APP MOBIL */

.mensaje-app {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
    background-color: orangered;
    padding: 15px 0;
    display: none;
}

.mensaje-app p {
    color: white;
    font-family: "Rubik";
    font-size: 18px;
    padding: 0 5px;
    width: 90%;
    margin: auto;
}


/* CAROUSEL */

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 40px 0 20px 0;
}

.carousel img {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 70%;
    border-radius: 30px;
    margin: 0;
}

.carousel i {
    font-size: 50px;
    margin: 0 30px;
    color: #17202A;
}

.carousel-mobile {
    display: none;
}
/* SALDOS */
.tus_saldos {
    margin: auto;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 40px 0;
}
.tus_saldos .title {
    font-size: 22px;
    font-family: "Poppins";
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 400;
}

.saldos {
    width: 100%;
    height: 180px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: left;
    margin-top: 25px;
}

.saldo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 270px;
    height: 200px;
    background: #041434;    
    margin: 10px;
    color: white;
    border-radius: 20px;
}

.saldo p {
    margin: auto;
    width: 80%;
    font-family: "Rubik";
    font-size: 21px;

}

.saldo h3 {
    margin-top: 20px;
    font-size: 30px;
    font-family: "Hind";
}

/* TARJETAS */

.tus_tarjetas {
    margin: auto;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 40px 0;
}

.nueva_tarjeta p,
.title {
    font-size: 22px;
    font-family: "Poppins";
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 400;
}
.tarjetas {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
    flex-wrap: wrap;
}

.tarjeta:hover {
    transform: scale(1.05);
}
.tarjeta {
    margin: 10px;
}


.nueva_tarjeta {
    width: 300px;
    height: auto;
    text-align: center;
    margin:10px;
}

.nueva_tarjeta i {
    font-size: 55px;
    color: #041434;
}

.nueva_tarjeta p {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: #17202A;
}

/* CREAR TARJETA */
.crearTarjetas {
    width: 80%;
    height: 100%;
    display: none;
    position: fixed;
    right: 0;
}

.menus {
    margin: auto;
    padding: 5px 10px 50px 10px;
    background: linear-gradient(to right, #06103d,
    #055380);
    border-radius: 10px;
    border: 2px solid #010321;
    width: 400px;
}


.crearTarjeta {
    margin: auto;
    width: 350px;
    height: 200px;
    border-radius: 15px;
    background-color: #010321;
}

.crearTarjeta input:focus {
    outline: none !important;
    border:none !important
}

.cerrar {
    width: 100%;
    height: 10px;
    text-align: right;
    color: white;
    font-size: 18px;
}

.logo {
    display: flex;
    width: 100%;
    height: 50%;
}
.conjunto-logo {
    display: flex;
    width: auto;
    align-items: center;
    margin-left: 7%;
}
.logo img {
    display: flex;
    width: 50px;
    height: 50px;
}

.logo p {
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
}
.numeroTarjeta {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
}

.numero {
    width: 60%;
    height: 70%;
    margin-left: 8%;
    text-align: left;
    border: none;
    color: white;
    background:none;
    padding: 0px 10px;
    font-family: 'Hind';
    font-size: 23px;
}

.conjunto-NombreVisa{
    display: flex;
    width: 100%;
}

.nombre {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: flex-end;
}

.nombreUsuario{
    width: 100%;
    height: 100%;
    margin-left: 10%;
    text-align: left;
    border: none;
    color: white;
    background:none;
    padding: 0px 10px;
    font-family: 'Hind';
    font-size: 20px;
}

.visa {
    width: 16%;
    display: flex;
    justify-content: right;

}

.visa i {
    margin-right: 5%;
    font-size: 32px;
    color: white;
}

.nombreUsuario::placeholder { color: white; }
.numero::placeholder { color: white; }



.texto{
    margin: auto;
    text-align: center;
    margin: 5px auto 20px;
}

.texto p {
    color: white;
    font-size: 19px;
    font-family: sans-serif;
}

.botonEnviar {
    width: 100%;
    text-align: center;
    margin-top: 21px;
}

.botonEnviar input {
    padding: 7px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 700;
    border: none;
}


/* Tarjetas creadas */

.tarjeta {
    background-color: #59848a;
    width: 320px;
    height: 200px;
    border-radius: 15px;
}

.tarjeta .numero {
    width: 80%;
    height: 70%;
    margin-left: 5%;
    text-align: left;
    border: none;
    color: white;
    background:none;
    padding: 0px 10px;
    font-family: 'Hind';
    font-size: 23px;
}

.tarjeta .nombreUsuario {
    margin-left: 7%;
}

@media screen and (max-width: 1205px){
    .parte_arriba {
        width: 55%;
    }

    .parte_abajo {
        width: 35%;
    }


    .cuadrado5 .titulo-transaccion {
        color: white;
        font-family: "Rubik";
        font-size: 21px;
        text-decoration: underline;
    }

    .transacciones {
        width: 100%;
        margin-top: 0px;
        height: 400px;
        overflow-y: auto;

    }
}
@media screen and (min-width:601px) and (max-width:906px){
    
    .header_derecha {
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
        margin: auto;
        justify-content: center;
        
    }
    
    .header_derecha .titulo {
        color: #17202A;
        font-family: "Rubik";
        font-size: 22px;
        text-transform: uppercase;
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .header_derecha input {
        height: 50px;
        border: none;
        padding: 0 10px;
        font-family: "Poppins";
        border: 2px solid #17202A;
        color: #17202A;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    
    .main {
        display: block;
        height: auto;
    }
    #menu {
        display: block;
        font-size: 30px;        
        color: white;
        padding: 20px;
    }

    .menu-responsive {
        display: flex;
        text-align: center;
        margin: auto;
        align-items: center;
        background: linear-gradient(to right, #020a2d,
    #055380);
        width: 100%;
        height: 70px;

    }

    #menu.block {
        position: fixed;
        z-index: 1;
    }
    .izquierda {
        display: none;
        position: fixed;
        width: 40%;
        height: auto;
        top: 0px;
    }

    .izquierda.block {
        display: block;
    }

    .navegacion {
        width: 100%;
        height: 100vh;
        margin: auto;    
    }
    
    .fotos {
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 15px 0;
        border-bottom: 3px solid white;
    }
    
    .fotos h3 {
       display: none;
    }
    
    .usuario {
        width: 100%;
    }
    .usuario img {
        margin: 10px 0 5px 0;
        width: 90px;
        height: 90px;
        border-radius: 70px;
        font-size: 50px;
        color: white;
    }
    
    .usuario h4 {
        font-size: 20px;
        width: 100%;
        color: white;
        font-family: "Hind";
        text-transform: uppercase;
    }

    /* DERECHA */

    
    .derecha {
        width: 100%;
        height: 135vh;
        margin: 0;
    }

    .carousel img {
        width: 95%;
    }
    

    .carousel i {
        display: none;
    }

    .tus_tarjetas {
        margin: auto;
        align-items: center;
        text-align: left;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 40px 0;
    }

    .tus_tarjetas .title {
        margin-left: 5%;
    }

    .tarjetas {
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .tarjeta {
        width: 320px;
    }
}

@media screen and (max-width:730px){
    .saldos{
        display: block;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .tus_saldos .title {
        text-align: center;
        margin: auto;
    }
    .saldo {
        margin: 20px auto;
        width: 60%;
    }

    .tus_tarjetas .title {
        margin: auto;
        text-align: center;
    }
    .tarjeta {
        width: 320px;
        margin: 20px auto;
    }

    .nueva_tarjeta {
        margin: 40px auto;
    }

    .tarjetas {
        display: block;
        margin: auto;
        width: 100%;
        justify-content: center;
    }

    .crearTarjetas {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0%;
    }
}

/*@media screen and (max-width: 726.36px){
    .tarjeta img {
        width: 280px;
        border-radius: 10px;
    }

    
    .tarjetas {
        justify-content: center;
    }
}*/





/*Telefonos*/
@media screen and (max-width: 600px){

    .derecha {
        margin-left: 0;
    }
    .carousel {
        display: none;
    }
    .carousel-mobile {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-top: 30px;
    }

    .carousel-mobile img {
        width: 90%;
        border-radius: 20px;
    }

    .tus_tarjetas {
        text-align: center;
    }

    .tarjetas {
        justify-content: center;
    }

    .tarjeta {
        width: 320px;
    }
    .nueva_tarjeta {
        margin-top: 10px;
    }


    .tus_saldos {
        text-align: center;
    }
    .tus_saldos .title {
        margin-left: 0px;
    }

}

@media screen and (max-width:600px){

   
    .main {
        display: block;
        height: auto;
    }
    #menu {
        display: block;
        font-size: 30px;        
        color: white;
        padding: 15px;
    }

    .menu-responsive {
        display: flex;
        text-align: center;
        margin: auto;
        align-items: center;
        background: linear-gradient(to right, #020a2d,
    #055380);
        width: 100%;
        height: auto;

    }

    #menu.block {
        color: white;
        position: fixed;
        z-index: 1;
        background: none;
        top: 0px;
    }
    .izquierda {
        display: none;
        position: fixed;
        width: 100%;
        height: auto;
        top: 0px;
    }

    .izquierda.block {
        display: block;
    }

    .fotos {
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 20px 0;
        border-bottom: 3px solid white;
    }

    .fotos h3 {
        display: none;
    }

    .usuario img {
        margin: 0;
    }

    .opcion {
        display: flex;
        width: 100%;
        height: 55px;
    }

    .derecha {
        width: 100%;
    }


    /* HEADER DERECHA */

    .header_derecha {
        display: block;
        align-items: center;
        margin: auto;
        height: auto;
        padding: 30px 0;
        width: 100%;
        justify-content: center;
    
    }
    
    .header_derecha .titulo {
        color: #17202A;
        font-family: "Rubik";
        font-size: 25px;
        text-transform: uppercase;
        width: 200px;
    }
    
    .titulo-seccion {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .boton-buscador {
        width: 100%;
        margin-top: 20px;
    }
    
    .header_derecha input {
        height: 50px;
        border: none;
        padding: 0 10px;
        font-family: "Poppins";
        border: 2px solid #17202A;
        color: #17202A;
        width: 200px;
        display: flex;
        margin: auto;
    }
   
    /*  SALDO */
    .tus_saldos .title {
        font-size: 23px;
    }
    .saldos {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    .saldo {
        margin: auto;
        width: 70%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    /* TARJETAS */
    .tus_tarjetas {
        padding: 0px 0 40px 0;
    }
    .tus_tarjetas .title {
        font-size: 23px;
    }
    .tarjetas {
        height: auto;
    }
    .tarjeta img {
        width: 90%;
        border-radius: 10px;
    }

    .nueva_tarjeta {
        height: auto;
        padding-bottom: 0%;
    }

    
}

@media screen and (max-width:400px){
    .crearTarjetas {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0%;
    }

    .menus {
        margin: auto;
        padding: 5px 10px 50px 10px;
        background: linear-gradient(to right, #06103d,
        #055380);
        border-radius: 10px;
        border: 2px solid #010321;
        width: 90%;
    }

    .crearTarjetas .crearTarjeta {
        margin: auto;
        width: 100%;
        height: 200px;
        border-radius: 15px;
        background-color: #010321;
    }
}
@media screen and (max-width:373px){
    .tarjeta {
        width: 270px;
    }

    .nueva_tarjeta {
        width: 270px;
    }

}