@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #020a2d,
 #4190de);
}
.home{
    display: flex;
    flex-wrap: wrap;
}

:root{
    --image-bg:#eadbff;
}

.container{
    width: 370px;
    height: 70%;
    padding: 20px;
    margin-top:20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);

}
.container a{
    font-size: 15px;
    cursor: pointer;
    
}
.container{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.close-btn:hover{
    color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

form{
    margin: 20px;
    
}

label{
    display: block;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

input{
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
}

button{
    display: block;
    width: 95%;
    padding: 8px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #020a2d,
    #055380);
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;

}

a{
    text-decoration: none;
    color: #20002c;

}

.link{
    margin-top: 30px;
    text-align: center;
    color:white;
}

a:hover{
    text-decoration: underline;
}

.logo h2{
    font-size: 30px;
    color: white;
    margin-left: 19px;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 32px;
}

.logo i{
    margin: 4px;
}
.logo a{
    color: white;
    text-decoration: none;
    margin: 0px;
}

.imagen-container{
    position:absolute;
    width:30%;
    left:30%;
    top:54%;
    transform: translate(-50%, -50%);
    background-color: var(#4190de);

}
form i{
    font-size: 20px;
}


@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

.nav {
height: 50px;
width: 100%;
background: transparent ;
position: relative;
}


.nav > .nav-header {
display: inline;
}
.nav .nav-title{
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.nav .nav-title a {
    color: #ffffff;
    text-decoration: none;

}
.nav > .nav-header > .nav-title {
display: inline-block;
letter-spacing: 2px;
font-weight: bold;
font-family: 'Poppins', sans-serif;
color: #fff;
padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
display: none;
}

.nav > .nav-links {
display: inline;
margin-right: 15px;
color: white;
cursor: pointer;
float: right;
font-size: 20px;
}

.nav > .nav-links > a {
display: inline-block;
padding: 13px 10px 13px 10px;
text-decoration: none;
color: #ffffff;
margin-right: 10px;


}

.nav > .nav-links > a:hover {
background-color: rgba(215, 215, 215, 0.3);
}

.nav > #nav-check {
display: none;
}

@media (max-width:600px) {
.nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(30, 28, 28, 0.3);
    border-radius: 10px;
    border-width: -10px;
}
.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
}
.nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(3, 9, 79, 0.295);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
}
.nav > .nav-links > a {
    display: block;
    width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
}
}

@media screen and (max-width: 2500px) and (min-width: 1500px){

    .container{
        position: absolute;
        left: 50%;
        width: 25%;
        height: 60%;
        font-size: 20px;
        left:70%;
    }

    .container h1{
        font-size: 35px;
    }

    .container label{
        font-size: 20px;
    }

    .container button{
        font-size: 25px;
    }

    .container a{
        font-size: 20px;
    }

    .imagen-container{
        position: absolute;
        width: 35%;
        left:30%;
        top:55%;
    }

}

@media screen and (max-width: 1000px) and (min-width: 750px){

    .container{
        height: 55%;

    }

    .imagen-container{
        margin-left: -40px;
    }



}

@media screen and (max-width: 750px) and (min-width: 500px){

    .imagen-container{
        display: none;
    }

    .container{
        left: 50%;
        height: 55%;
    }



}

@media screen and (max-width: 500px) and (min-width: 250px){

    .imagen-container{
        display: none;

    }

    .container{
        left: 50%;
        height: 62%;
        width: 70%;
    }

    .container .close-btn
    {
        display: none;
    }

}


